.sidenav{
    width:20vw ;
    height: 100vh;
    // background-color: blue;
    border: 2px solid;
    .menu{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}