
.body {
  // background-color: #eed0e2;
  height: 100%;
  width: 80vw;
  overflow: scroll;
  margin-top: 6rem;


  .first-row {
    // animation-name: MyAnimation;
    // animation-duration: 1s;
    // animation-delay: 1s;
    width: 99%;
    height: 18vh;
    margin-top: 3rem;
    // position: relative;

    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    .card {
      height: 18vh;
      width: 17vw;

      display: flex;

      // box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
      flex-direction: column;
      justify-content: space-around;
      padding: 10px;
      border-radius: 15px;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);

      // background: linear-gradient(teal, rgb(185, 58, 185));
      h3 {
        color: rgba(0, 0, 0, 0.653);
      }
      color: #18171797;
      .money {
        display: flex;
        justify-content: space-between;
        .icon {
          img {
            height: 50px;
            width: 50px;
          }
        }
        h3 {
          padding-right: 10px;
        }
      }
    }
  }
  .second-row {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-top: 15px;
    margin: 3rem;
    // padding: 25px;

    .quote {
      height: 8rem;
      width: 45rem;
      // border: 2px solid black;
      display: flex;
      border-radius: 15px;
      padding: 20px;
      // background-color: #9448ae;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
    }
    .Activity-log {
      height: 9rem;
      width: 20rem;
      border-radius: 10px;
      padding: 10px;
      // background-color: #356c90;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
    }
  }
}

.third {
  height: 30vh;
  width: 77vw;
  // border: 2px solid white;
  margin-top: 15px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  // box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);

  .graph {
    height: 40vh;
    width: 97%;
    // border: 2px solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);

  }
}
