.navbar {
    height: 10vh;
    width: 78vw;
    background-color: azure;
    background-color: #6A58A1;
    // border: 3px solid rgb(225, 21, 96);
  
    .routed {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
    }
  }