.navbar {
    height: 10vh;
    width: 100vw;
    // background-color: azure;
    background-color: #088178; 
    position: fixed;
    padding-top: 24px;
    // margin: auto;
       // border: 3px solid rgb(225, 21, 96);
  
    .routed {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      color: black;
    }
  }