.clients{
    .upper{
        height: 20vh;
        width: 80vw;
        background-color: rgb(235, 15, 243);
        .up1{
            display: flex;
            justify-content: space-between;
            padding: 10px;
            button{
                height: 30px;
                text-align: center;
                border: none;
            }
            .btn1{
                background-color: grey;
                color: white;
                width: 110px;
            }
            .btn2{
                background-color: green;
                width: 80px;
                color: white;
            }
            .btn3{
                background-color: blue;
                width: 120px;
                color:white;
            }
        }
        .search{
            height: 160px;
        }
    }
}