.Dashboard {
    height: 100vh;
    width: 20vw;
    gap: 2rem;
    // border-right: 2px solid black;
    // color: rgb(22, 21, 21);
    // background: linear-gradient(to top right, teal,rgb(185, 58, 185));
    box-shadow: 0,0,0,0.9;
    background-color: #088178;
    position: fixed;
  
    .items {
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;
      gap: 2rem;
      font-weight: bold;
      font-size: 1rem;
      padding-left: 15px;
      padding-right: 15px;
      color: white;
  
      img {
        height: 20px;
        width: 20px;
      }
    }
  
    .header {
      display: flex;
      justify-content: space-between;
      padding: 15px;
  
      img {
        height: 20px;
        width: 20px;
      }
    }
  
    .dashboard-item {
      list-style: none;
      margin-bottom: 10px;
    }
  
    .with-dropdown {
      position: relative;
  
      &:hover {
        .ant-dropdown {
          display: block;
        }
      }
  
      .ant-dropdown {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
      }
    }
  
    ul {
      padding: 0;
    }
  }
  