.AddEmployee {
  max-width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  // margin: 2rem;
  margin-top: 5rem;
  h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    text-align: center;
  }

  .form-group {
    margin-bottom: 20px;

    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }

    input,
    select {
      width: calc(100% - 22px); /* Adjusted width to consider padding and border */
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 1rem;
      box-sizing: border-box; /* Ensure padding and border are included in width calculation */
    }
  }

  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
      background-color: #0056b3;
    }

    &:disabled {
      opacity: 0.7;
      cursor: not-allowed;
    }
  }
}

.Toastify__toast-container {
  z-index: 9999;
}

.Toastify__toast {
  font-family: 'Arial', sans-serif;
  border-radius: 5px;
}

.Toastify__toast--success {
  background-color: #28a745;
}

.Toastify__toast--error {
  background-color: #dc3545;
}

.Toastify__toast--info {
  background-color: #17a2b8;
}

.Toastify__toast--warning {
  background-color: #ffc107;
}

.Toastify__toast-body {
  padding: 10px 20px;
  color: #fff;
  font-size: 1rem;
}

.Toastify__toast--rtl {
  direction: rtl;
}
