
.employeee{
// background-color: lightskyblue;
margin: 20px;
margin-top: 6rem;
    .edit{
        background-color: blue;
        margin-left: 10px;

    }
    .delete{
        background-color: red;
        margin-left: 10px;
    }
    .view{
        background-color: green;
        margin-left: 10px;
    }
    .header{
        height: 6vh;
        // border: 2px solid blue;
        .Add-employee{
            display: flex;
            justify-content: end;
            padding-right: 20px;
            button{
            height: 2rem;
            width: 5rem;
            background-color: green;
            color: white;
            border-radius: 5px;
            margin-top: 3px;
            }
        }
    }
}
table{
    padding: 10px;
    tr{
    border: 2px solid rgba(0, 0, 0, 0.486);
    }
    th{
        border: 2px solid rgba(0, 0, 0, 0.42);
    }
    td{
        border: 2px solid rgba(0, 0, 0, 0.45);
    }
    
}
